In [1]:
import pandas as pd

# Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head

<bound method NDFrame.head of            fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
0     100.398985         1   54          0            0                     1
1      98.296032         1   69          1            1                     0
2     101.820507         0   58          0           -1                     1
3      98.706927         0   48          1           -1                     1
4     100.644827         0   77          0            0                     1
...          ...       ...  ...        ...          ...                   ...
2070  101.481780         0   46          1            0                     1
2071  100.180285         1   51          1            1                     1
2072  101.074282         1   61          1            0                     0
2073  100.061400         1   34          0           -1                     1
2074  101.502373         0    5          0            0                     1

[2075 rows x 6 columns]>

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
2070  101.481780         0   46          1            0                     1
2071  100.180285         1   51          1            1                     1
2072  101.074282         1   61          1            0                     0
2073  100.061400         1   34          0           -1                     1
2074  101.502373         0    5          0            0                     1

In [5]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
0  100.398985         1   54          0            0                     1
1   98.296032         1   69          1            1                     0
2  101.820507         0   58          0           -1                     1
3   98.706927         0   48          1           -1                     1
4  100.644827         0   77          0            0                     1

In [6]:
df.info

<bound method DataFrame.info of            fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
0     100.398985         1   54          0            0                     1
1      98.296032         1   69          1            1                     0
2     101.820507         0   58          0           -1                     1
3      98.706927         0   48          1           -1                     1
4     100.644827         0   77          0            0                     1
...          ...       ...  ...        ...          ...                   ...
2070  101.481780         0   46          1            0                     1
2071  100.180285         1   51          1            1                     1
2072  101.074282         1   61          1            0                     0
2073  100.061400         1   34          0           -1                     1
2074  101.502373         0    5          0            0                     1

[2075 rows x 6 columns]>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fever                 2075 non-null   float64
 1   bodyPain              2075 non-null   int64
 2   age                   2075 non-null   int64
 3   runnyNose             2075 non-null   int64
 4   diffBreathe           2075 non-null   int64
 5   infectionProbability  2075 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 97.4 KB

In [8]:
df['diffBreathe'].value_counts()

 0    709
 1    698
-1    668
Name: diffBreathe, dtype: int64

In [9]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreathe,infectionProbability
count,2075.000000,2075.000000,2075.000000,2075.000000,2075.000000,2075.000000
mean,99.979736,0.486747,48.895422,0.497831,0.014458,0.504578
std,1.161133,0.499945,28.728959,0.500116,0.811432,0.500100
min,98.000899,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.973770,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.971124,0.000000,48.000000,0.000000,0.000000,1.000000
75%,100.977328,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.998816,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [10]:
import numpy as np

In [11]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [12]:
np.random.permutation(7)

array([5, 4, 1, 3, 6, 2, 0])

In [13]:
train, test = data_split(df, 0.2)

In [14]:
train

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
1262   98.885273         1   22          0            1                     0
300   100.819234         0   83          0           -1                     1
436   101.555462         1   29          0            1                     1
777    99.553297         0   42          0           -1                     1
596    99.333741         1   20          0           -1                     1
...          ...       ...  ...        ...          ...                   ...
1638  100.150603         0    7          0           -1                     1
1095  100.506192         0   47          1           -1                     1
1130   99.248747         1   13          1            1                     0
1294  101.302576         1   76          0            1                     1
860    99.337264         0   53          1            0                     1

[1660 rows x 6 columns]

In [15]:
test

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProbability
881   101.766146         1   48          0            1                     1
453    98.121396         0    8          1           -1                     0
2004   99.581039         1   57          1           -1                     0
1353   98.101422         0   69          1           -1                     0
281   101.136870         0   82          0            0                     0
...          ...       ...  ...        ...          ...                   ...
1375  101.420096         0   70          0            1                     1
185    99.257622         0   77          0            0                     1
701   101.248112         0   36          0            1                     1
1671  101.124259         0   46          0            1                     0
1982  100.249386         1   26          0           -1                     1

[415 rows x 6 columns]

In [16]:
X_train = train[['fever','bodyPain', 'age', 'runnyNose', 'diffBreathe']].to_numpy()
X_test = test[['fever','bodyPain', 'age', 'runnyNose', 'diffBreathe']].to_numpy()

In [17]:
Y_train = train[['infectionProbability']].to_numpy().reshape(1660,)
Y_test = test[['infectionProbability']].to_numpy().reshape(415,)

In [18]:
Y_train

array([0, 1, 1, ..., 0, 1, 1], dtype=int64)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [23]:
inputFeatures = [100,1,22,-1,1,]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [24]:
infProb

0.5360730690250137